mat-drawer{
    width: 350px;
}
mat-form-field{
    font-size: 0.85em;
}
.text-sm{
    font-size: 0.85em;
}
.dashboard-card{
    height: 300px;
    background-color: white;
    border: rgb(236, 236, 236) 1px solid;
}
.dashboard-card-50{
    display: inline-block;
    width: 48%;

}
.flag-card{
    height: 200px;
}
