<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="col-md-8 grid-margin stretch-card m-auto">
            <div class="card">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <div class="card-header d-flex align-items-center">
                        <h4>Change Password</h4>
                    </div>
                    <div class="card-body">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                Current password
                            </mat-label>
                            <input matInput formControlName="currentPassword">
                            <mat-hint>Your current password</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>
                                New password
                            </mat-label>
                            <input matInput formControlName="newPassword">
                            <mat-hint>Your new password</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>
                                Confirm new password
                            </mat-label>
                            <input matInput formControlName="confirmPassword">
                            <mat-hint>Confirm new password</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <button mat-button [routerLink]="['../profile']">Cancel</button>
                        <button mat-button type="submit">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>