<div class="p-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="stats-card card rounded border text-center" style="padding-top: 20%;">
                    <h1 class="text-muted">22.33</h1>
                    <h4 class="text-muted">Avg. time to complete (hours)</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="stats-card card rounded border text-center" style="padding-top: 20%;">
                    <h1 class="text-muted">5.00</h1>
                    <h4 class="text-muted">Total hours</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="stats-card card rounded border text-center" style="padding-top: 20%;">
                    <h1 class="text-muted">$50.00</h1>
                    <h4 class="text-muted">Spent</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="stats-card card rounded border text-center" style="padding-top: 20%;">
                    <h1 class="text-muted">$10.00</h1>
                    <h4 class="text-muted">Avg cost per work order</h4>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <div class="stats-card card rounded border text-center" style="padding-top: 20%;">
                    <h1 class="text-muted">$10</h1>
                    <h4 class="text-muted">Saved</h4>
                    <h6 class="text-secondary">Calculation based on average cost savings per work order determined by WOM research</h6>
                </div>
            </div>
            <div class="col-3">
                <div class="stats-card card rounded border text-center" style="padding-top: 20%;">
                    <h1 class="text-muted">0</h1>
                    <h4 class="text-muted">Planned work orders</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="stats-card card rounded border text-center" style="padding-top: 20%;">
                    <h1 class="text-muted">2</h1>
                    <h4 class="text-muted">Unplanned work orders</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="stats-card card rounded border text-center" style="padding-top: 20%;">
                    <h1 class="text-muted">100%</h1>
                    <h4 class="text-muted">Unplanned work orders</h4>
                </div>
            </div>
        </div>
    </div>
</div>
