<div class="content-wrapper" style="margin-top:0px; height: 100%;">
    <div class="text-center">
        <img src="../../assets/images/logo.png" alt="" srcset="" style="width: 150px;">
    </div>
    <div class="row flex-grow">
        <div class="col-lg-4 mx-auto">
            <div class="card" class="shadow p-3 mb-5 bg-white rounded" style="border-radius: 5px; margin-bottom: 70px;">
                <div class="auth-form-light text-left p-5">
                    <h3 class="display-4">Reset WOM password</h3>
                    <br>
                    <small class="text-muted">Don't worry, we've got your back!</small>
                    <small class="text-muted">Simply enter your email address and we'll take care of it.</small>
                    <p></p>
                    <small class="text-muted">Which email address did you sign up with?</small>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

                        <input type="text" class="form-control" placeholder="name@company.com"
                            formControlName="email" />
                        <br>

                        <button class="btn btn-success btn-sm m-0 w-100" type="submit">Send reset instructions</button>
                    </form>
                    <br>
                </div>
            </div>
            <p class="text-muted">Did you remember your password? <a [routerLink]="['../login']">Try logging
                    in.</a></p>
        </div>
    </div>
</div>