<div class="card rounded">
  <div class="card-header">
    <h4>Requests</h4>
  </div>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="card-body">


      <mat-form-field>
        <mat-label>
          Title
        </mat-label>
        <input matInput placeholder="Request Title" formControlName="title">
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Description
        </mat-label>
        <textarea matInput placeholder="A detailed description about the work order..."
          formControlName="desc"></textarea>
      </mat-form-field>

      <br>
      <mat-label>
        <span class="text-muted">Priority</span>
      </mat-label>
      <br>
      <div class="btn-group mb-2 w-100" role="group">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="selection1=1" [class.active]="selection1===1">None</button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="selection1=2" [class.active]="selection1===2">Low</button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="selection1=3" [class.active]="selection1===3">Medium</button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="selection1=4" [class.active]="selection1===4">High</button>
      </div>
      <br><br>

      <div class="form-group">
        <label>
          Image:
        </label>
        <div class="drop-zone">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label>
          File:
        </label>
        <div class="drop-zone">
        </div>
      </div>


      <a (click)="openFileDialog()"><small>Add Uploaded File</small></a>

      <!-- <button class="btn btn-primary mr-2" type="submit">Submit</button>
            <button class="btn btn-light">Cancel</button> -->
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button mat-button (click)="closeDrawer()">Cancel</button>
      <button mat-button type="submit">Submit</button>
    </div>
  </form>
</div>