<div class="content-wrapper">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
        <div formGroupName="requesterInfoGroup">
          <h3>Requests</h3>
          <div class="form-group">
            <label>
              Title:
            </label>
            <input type="text" class="form-control" formControlName="title">
          </div>

          <div class="form-group">
            <label>
              Description:
            </label>
            <input type="text" class="form-control" formControlName="desc">
          </div>

          <div class="form-group">
            <label>
              Priority:
            </label>
            <input type="text" class="form-control" formControlName="priority">
          </div>

          <div class="form-group">
            <label>
              Image:
            </label>
            <input type="text" class="form-control" formControlName="image">
          </div>

          <div class="form-group">
            <label>
              File:
            </label>
            <input type="text" class="form-control" formControlName="file">
          </div>

          <button class="btn btn-sm btn-link btn-fw" type="button">Add Uploaded File</button>
        </div>

        <button class="btn btn-primary mr-2" type="submit">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>