<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="col-md-8 grid-margin stretch-card m-auto">
            <div class="card rounded">
                <div class="card-header">
                    <h4>Add Customer</h4>
                </div>
                <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                    <div class="card-body">
                        <h4 class="card-title">Details</h4>
                        <div formGroupName="customerDetails">
                            <mat-form-field>
                                <mat-label>
                                    Customer Name
                                </mat-label>
                                <input matInput formControlName="name">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Address
                                </mat-label>
                                <input matInput formControlName="address">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Phone
                                </mat-label>
                                <input matInput formControlName="phone">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Website
                                </mat-label>
                                <input matInput formControlName="website">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Email
                                </mat-label>
                                <input matInput formControlName="email">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Address
                                </mat-label>
                                <input matInput formControlName="address">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Customer Type
                                </mat-label>
                                <input matInput formControlName="customerType">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Description
                                </mat-label>
                                <textarea matInput placeholder="A detailed description about the work order..."
                                    formControlName="desc"></textarea>
                            </mat-form-field>
                        </div>

                        <h4 class="card-title">Billing Information</h4>
                        <div formGroupName="billingInformation">
                            <mat-form-field>
                                <mat-label>
                                    Name
                                </mat-label>
                                <input matInput formControlName="name">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Address
                                </mat-label>
                                <input matInput formControlName="address">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Address Line 2
                                </mat-label>
                                <input matInput formControlName="addressLine2">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Address Line 3
                                </mat-label>
                                <input matInput formControlName="addressLine3">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select formControlName="currency" placeholder="Currency">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <button mat-button [routerLink]="['../']">Cancel</button>
                        <button mat-button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>