mat-form-field{
    font-size: 0.87em;
}
a{
    cursor: pointer;
    color: #007bff !important;
}
.btn-group > .active{
    transition: all 100ms ease 0s;
    background: linear-gradient(251deg, rgb(0, 174, 255), rgb(0, 118, 255)) rgb(0, 123, 255);
    color: white;
}