<!-- <div class="content-wrapper">
  <div class="col-12 grid-margin stretch-card">
    <div class="col-md-8 grid-margin stretch-card m-auto"> -->
<div class="card rounded">
  <div class="card-header">
    <h4>Meter</h4>
  </div>
  <form [formGroup]="meterForm" (ngSubmit)="onSubmit()">
    <div class="card-body">

      <mat-form-field>
        <mat-label>
          Title
        </mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Unit of Measurement
        </mat-label>
        <input matInput formControlName="uom">
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Upgrade Frequency
        </mat-label>
        <input type="number" matInput formControlName="upgradeFrequency">
      </mat-form-field>


      <mat-form-field>
        <mat-label>
          Category
        </mat-label>
        <input matInput formControlName="category">
      </mat-form-field>

      <div class="form-group">
        <a (click)="manageCategories()"><small>Manage Categories</small></a>
      </div>

      <div class="form-group">
        <label>
          Add an Image:
        </label>
        <div class="drop-zone">
        </div>
      </div>

      <mat-form-field>
        <mat-select formControlName="workers" placeholder="Workers" multiple>
          <mat-option *ngFor="let worker of workers" [value]="worker">{{worker}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Asset</mat-label>
        <mat-select formControlName="asset">
          <mat-option *ngFor="let asset of assets" [value]="asset">{{asset}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button mat-button (click)="closeDrawer()">Cancel</button>
      <button mat-button type="submit">Submit</button>
    </div>
  </form>
</div>
<!-- </div>
  </div>
</div> -->