.profile-item{
    padding: 5px;
}
.dropdown-item {
    font-size: 0.95em !important;
    cursor: pointer;
    padding: 0.25rem 0.5rem !important;
  }
  .dropdown-item:hover {
    background-color: #e2f5fc;
    color: #007bff !important;
  }