<div class="content-wrapper">
    <!-- title for the page -->
    <div class="page-header">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>

    <div class="main-content">
        <div class="container">


            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">

                    <div class="col-md-12">
                        <div>
                            <button type="submit" class="btn btn-danger btn-rounded f_right"
                                (click)="openAssetTemplate()">
                                + Asset Template
                            </button>
                        </div>
                        <div class="text_hover">
                            <button class="btn ">
                                <a href="#">< back to Assets</a> 
                            </button> 
                        </div> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>