<div class="content-wrapper">
    <!-- title for the page -->
    <div class="page-header">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>
    <div class="main-content">
        <!-- demo content -->
        <div class="col-12 grid-margin stretch-card" style="height: 800px;">

            <div class="card" style="background-color: #F5F5F5">
                <mat-tab-group mat-align-tabs="center" style="width: 600px;">
                    <mat-tab label="Shared with me">
                        <div class="card mt-2 ml-2 p-4 rounded list-item" (click)="openOrderDetails()">
                            <div class="row">
                                <div class="col-11">
                                    <h5>Work Order 1</h5>
                                    <small class="text-muted">
                                        Unpaid
                                    </small>
                                    <small class="text-muted ml-2">
                                        Shared by sam.smith@gmail.com
                                    </small>
                                    <small class="text-muted ml-2">
                                        Feb 16 2020
                                    </small>
                                    <small class="text-muted ml-2">
                                        <i class="icon-speech"></i> 5
                                    </small>
                                </div>
                                <div class="col-1">
                                    <i class="icon-lock-open icon-md text-danger"></i>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Shared with others">
                        <div class="card mt-2 ml-2 p-4 rounded list-item" (click)="openOrderDetails()">
                            <div class="row">
                                <div class="col-11">
                                    <h5>Work Order 2</h5>
                                    <small class="text-muted">
                                        Unpaid
                                    </small>
                                    <small class="text-muted ml-2">
                                        Shared with john.doe@gmail.com
                                    </small>
                                    <small class="text-muted ml-2">
                                        Feb 18 2020
                                    </small>
                                    <small class="text-muted ml-2">
                                        <i class="icon-speech"></i> 5
                                    </small>
                                </div>
                                <div class="col-1">
                                    <i class="icon-lock-open icon-md text-danger"></i>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>


            </div>
        </div>

    </div>