<a (click)="closeDialog();" style="cursor: pointer;"><span class="close">&times;</span></a>
<div class="card" style="width: 350px;">
    <h4>Select Purchase Order</h4>   
    <hr>
    <div *ngFor="let purchaseOrder of purchaseOrders" class="m-2">
        <div class="p-3 file-item" (click)="closeDialog();">
            <h5>{{purchaseOrder.title}}</h5>
            <span class="ml-2 text-muted"><small>Status: {{purchaseOrder.status}} | # of parts: {{purchaseOrder.parts}} | Cost: $ {{purchaseOrder.cost}} </small></span>
        </div>

    </div>
</div>