<div class="content-wrapper">
    <!-- title for the page -->
    <div class="page-header">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>
    <div class="card card-secondary">
        <div class="toolbar">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary btn-sm" [class.active]="viewMode == 'tab1'"
                    rel="tab1" (click)="viewMode ='tab1'">Files</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" [class.active]="viewMode == 'tab2'"
                    rel="tab2" (click)="viewMode ='tab2'">Summaries</button>
            </div>
            <div class="d-inline ml-2">
                <i class="icon-magnifier" id="search-icon"></i>
                <input class="search-input" placeholder="Search">
            </div>

            <div class="align-right">
                <button type="button" class="btn btn-sm btn-danger btn-rounded btn-fw"
                    [routerLink]="['file-form']">File</button>
            </div>
        </div>
    
    <div style="height: 600px; background-color: #F5F5F5;">
        <div class="main-content">
            <!-- demo content -->
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <!-- <div class="card-body"> -->
                    <div class="tab-slider--container" [ngSwitch]="viewMode">
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
                            <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef> ID </th>
                                    <td mat-cell *matCellDef="let files"> {{files.id}} </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let files"> {{files.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="uploadedBy">
                                    <th mat-header-cell *matHeaderCellDef> Uploaded By </th>
                                    <td mat-cell *matCellDef="let files"> {{files.uploadedBy}} </td>
                                </ng-container>

                                <ng-container matColumnDef="uploadedOn">
                                    <th mat-header-cell *matHeaderCellDef> Uploaded On </th>
                                    <td mat-cell *matCellDef="let files"> {{files.uploadedOn}} </td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let files">
                                        <button type="button" class="btn btn-light btn-sm mr-2"
                                            (click)="renameFile()">Rename</button>
                                        <button type="button" class="btn btn-danger btn-sm"
                                            (click)="deleteFile()">Delete</button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
                            <h4 class="text-center mt-4">No files found.</h4>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>