<app-settings-page></app-settings-page>
<div class="card p-4">
    <h4>Webhooks</h4>
    <div class="d-flex">
        <div class="p-2">
            <p class="text-muted">
                Webhooks allows you to do two way data sync with your platform.
                <a href="">Learn more about webhooks</a>
            </p>
        </div>
        <div class="p-2 ml-auto">
            <button type="button" class="btn btn-sm btn-primary btn-rounded btn-fw" (click)="openDrawer()">+ Add
                Webhook</button>
        </div>
    </div>
</div>