<div class="content-wrapper">
    <!-- title for the page -->
    <div class="page-header">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Company Request Portal</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit officiis voluptatem adipisci harum
                    corporis totam assumenda, vitae odit doloremque veniam et temporibus ullam incidunt dolorum
                    voluptate. Temporibus nostrum neque maxime.</p>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Work Order Requests</h4>
                <div class="input-group">
                    <input type="text" class="form-control" [value]="workOrderRequestUrl" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="button">Copy URL</button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quasi cupiditate molestiae inventore
                    aliquam necessitatibus aperiam, voluptate, harum itaque saepe dolor id officia est vitae commodi,
                    explicabo neque alias provident.</p>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <button type="button" class="btn btn-light btn-rounded">Customize URL</button>
        <button type="button" class="btn btn-light btn-rounded">Edit Public Request Form Items</button>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Log in to view requests</h4>
                <div class="input-group">
                    <input type="text" class="form-control" [value]="viewRequestUrl" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="button">Copy URL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p>Submit work requests by sending an email to your company's unique wom email address.</p>
                <h4 class="card-title">Create via Email</h4>
                <div class="input-group">
                    <input type="text" class="form-control" [value]="createRequestEmail" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="button">Copy URL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <button type="button" class="btn btn-light btn-rounded"><i class="icon-note"></i> Update Email ID</button>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p>Submit work requests by sending an email to your company's unique wom email address.</p>
                <h4 class="card-title">Create via Request Portal</h4>
                <div class="input-group">
                    <input type="text" class="form-control" [value]="createRequestEmail" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="button">Copy URL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p>Submit work requests by sending an email to your company's unique wom email address.</p>
                <h4 class="card-title">Create via Email</h4>
                <div class="input-group">
                    <input type="text" class="form-control" [value]="createRequestEmail" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="button">Copy URL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Requests</h4>
                <div class="input-group">
                    <input type="text" class="form-control" [value]="viewRequestUrl" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="button">Copy URL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>