<!-- <div class="content-wrapper">
    
    <div class="page-header">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>
    <div class="card card-secondary">
        <div class="toolbar">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary btn-sm" [class.active]="viewMode == 'tab1'"
                    rel="tab1" (click)="viewMode ='tab1'">
                    Leaderboard
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" [class.active]="viewMode == 'tab2'"
                    rel="tab2" (click)="viewMode ='tab2'">
                    Dashboard
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" [class.active]="viewMode == 'tab3'"
                    rel="tab3" (click)="viewMode ='tab3'">
                    Ratings
                </button>
                <button type="button" *ngFor="let dashboard of dashboards" class="btn btn-outline-secondary btn-sm"
                    [class.active]="viewMode == 'tab4'" rel="tab4" (click)="viewMode ='tab4'">
                    {{dashboard.name}}
                </button>
            </div>

            <div class="align-right">
                <button mat-flat-button (click)="openDialog()">+Add Custom Report</button>
            </div>
        </div>
    </div>
    <div class="card card-secondary p-4">
        <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control" style="width: 200px; border-radius: 5px;"
            placeholder="Select interval" />
    </div>
    <div class="main-content">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="tab-slider--container" [ngSwitch]="viewMode">
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
                            <h2>Leaderboard</h2>
                            <p>Toggle switch style tab navigation. Currently only works with two tabs.</p>
                            <p>Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus
                                auctor
                                fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                                vestibulum. Nullam
                                id
                                dolor id nibh ultricies vehicula ut id elit. Nulla
                                vitae elit libero, a pharetra augue.</p>
                        </div>
                        <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
                            <h2>Dashboard</h2>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Cras mattis
                                consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras
                                mattis
                                consectetur purus sit amet fermentum. Aenean eu leo
                                quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                        <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
                            <h2>Ratings</h2>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Cras mattis
                                consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras
                                mattis
                                consectetur purus sit amet fermentum. Aenean eu leo
                                quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->
<div class="d-flex flex-column" style="margin-top: 70px;">
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{link.label}}
        </a>
        <a id="custom-report-link" (click)="openDialog()"><small>+ Add Custom Report</small></a>
    </nav>
</div>