.bd-highlight{
    background-color: white;
    border: solid rgb(218, 218, 218) 1px;
}
.mat-form-field{
    visibility: hidden;
    display: flex;
    height: 0px;
    width: 100px;
}
a{
    cursor: pointer;
}