.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 60%;
    margin:auto;
  }
  
  .btn-info {
      border-radius : 25px;

  }
  .mat-form-field{
   font-size: 0.85em;
  }
  .custom-fields{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
  }
  a{
    cursor: pointer;
  }