<div class="content-wrapper">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <i class="icon-close" style="font-size: 20px;"></i>
                    </div>
                    <div class="m_t_25">
                        <h4>Add Template</h4>
                        <p class="text_primary">Use this form to edit a template. You can add, edit, delete, or re-order
                            as many custom properties as you wish.</p>
                    </div>

                    <div class="m_t_25">
                        <label for="">Template Name</label>
                        <input type="text" class="form-control height_35">
                    </div>

                    <div class="m_t_25">
                        <h4>Custom Properties</h4>
                    </div>
                    <hr>
                    <div class="m_t_25">
                        <i class="icon-plus"></i>
                        <span style="margin-left: 20px;"><a class="text_primary_1" href="#">Add Property</a></span>
                    </div>

                    <div class="m_t_50" style="float: right;">
                        <button class="btn btn_1">Cancel</button>
                        <button class="btn btn_1 btn-secondary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>