.card
{
    border-radius: 5px;
}
.m_t_25
{
    margin-top: 25px;
}
.text_primary
{
    color: #515458;
}
.height_35
{
    height: 35px;
}
.text_primary_1
{
    color: #515458;
    font-size: 12px;
}
a:hover
{
    text-decoration: underline;
}
.m_t_50
{
    margin-top: 50px;
}
.btn_1
{
    padding: 10px 20px;
}