
.f_right
{
    float: right;
}
.f_left
{
    float: left;
}
.m_r_10
{
    margin-right: 10px;
}
.text_primary
{
    font-size: 25px;
    color: #878C90;
}
.text_primary_1
{
    font-size: 40px;
}
.card-header
{
    padding: 20px !important;
    background: #fff;
}
.card
{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}
.m_t_40
{
    margin-top: 40px;
}
.center
{
    text-align: center;
}
.m_t_60
{
    margin-top: 60px;
}
.m_b_30
{
    margin-bottom: 30px;
}
.m_b_40
{
    margin-bottom: 40px;
}
.m_t_15
{
    margin-top: 15px;
}
.bg_hover:hover
{
    background: #f8f9f9;
}
.bg_hover
{
    cursor: pointer;
    padding:0 20px;
}
.btn_1
{
    background: transparent;
    border: none;
}
.m_t_30
{
    margin-top: 30px;
}