mat-form-field{
    font-size: 0.87em;
}
.upload-table{
    margin-bottom: 10px;
    padding:20px;
    border: dotted 2px rgb(173, 173, 173);
    border-radius: 5px;
}
.close{
    cursor: pointer;
}
.text-sm{
    font-size: 0.85em;
}