<div class="content-wrapper">
    <!-- title for the page -->
    <div class="page-header ">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>
    <div class="main-content">
        <!-- demo content -->
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 title-faq p_t_50">
            <p>We're all about transparency. You and your home deserve it. We've compiled some frequently asked
                questions to make your Upkeep experience amazing. If there's anything else we can help out with, we'd
                love to hear about it! Send us a message with the form below our FAQs and we'll be in touch soon!</p>

                <hr>

        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>What is Upkeep?</h4>
            <p>Upkeep is your home preventive maintenance partner. We provide an assessment and record of all the
                critical components of your home, as well as information when you are considering major upgrades or
                repair. With our Services that can be added to your Preventive Maintenance visit, we can even handle
                some of the minor repairs and upgrades you never quite get around to. Our goal is to help you extend the
                life of your home's key elements, help you avoid unexpected repairs and free up your time for the more
                important parts of your life.</p>


                <hr>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>Why choose Upkeep?</h4>
            <p>We are the pros. We hire only the best people and make sure they are skilled and fully vetted. Unlike
                some services that outsource work to independent contractors, our Upkeep Pros are our employees, who
                have gone through rigorous background checks and have proven they have the necessary skills to complete
                the work.</p>


                <hr>
        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>How do I schedule an appointment?</h4>
            <p>Schedule here through our website or drop us an email at support@upkeep.partners.</p>
            <hr>


        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>What is the Home Review?</h4>
            <p>Our proprietary State of Your Home Review is a description of the condition of each of the key elements
                of your home. For each, there is an evaluation of the condition and any action we would recommend.
                Everything is clearly labeled with the familiar green, yellow, red “stoplight chart,” making it easy to
                scan the status. The review is yours to keep at the end of our visit and is the process we use for each
                home visit.</p>

                <hr>

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>What things do you check for in the Home Review?</h4>
            <p>No. Property inspections are normally a one time event, purchased by home buyers in anticipation of a
                sale and to flag problems that need to be fixed. Our State of Your Home Review is more like an annual
                physical or an automobile check up that lets you know how things are going, so that you can address them
                before they turn into bigger problems.</p>

                <hr>

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>Are there any limitations to what is reported on in the Home Review?</h4>
            <p>Yes. We can only report on things that are reasonably accessible and observable. See our Terms and
                Conditions for more information.</p>


                <hr>
        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>How much does a Home Review cost?</h4>
            <p>The Home Review is free with purchase of a Preventive Maintenance Contract.</p>

            <hr>

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>What is covered by a Preventive Maintenance Contract?</h4>
            <p>Learn more about our Preventative Maintenance Plan here.</p>

            <hr>

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>Are any repairs covered by a Preventive Maintenance Contract?</h4>
            <p>Our Preventive Maintenance Contract covers repairs that are considered preventive maintenance. See the
                full Preventive Maintenance task list here. Many other repairs that are not preventive may be able to be
                purchased as one of our Services. See the list of available services here. If you don't see a certain
                service you are looking for on the Services list, contact your Upkeep Pro and we would be glad to assist
                you if possible.</p>

                <hr>

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>How much does a Preventive Maintenance Contract Cost?</h4>
            <p>We charge based on the size of your home and have two Preventive. Prices range from $599 to $1899 per
                year and are billed quarterly. After our Upkeep Pro completes the Home Review, they will let you know
                the exact price based on your square footage. Learn more about pricing here.</p>


                <hr>
        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>How do you charge for a Preventive Maintenance Contract?</h4>
            <p>We bill quarterly for the Preventive Maintenance Contract. We charge for the initial visit when you sign
                up and at the time of each subsequent quarterly visit. You have the option for automatic quarterly
                billing or to pay at the end of each visit. Want to keep your card on file for easy payment? Just let
                your Upkeep Pro know at the end of your visit. Your Preventive Maintenance Contract can be canceled at
                any time.</p>
                <hr>


        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>When can I contact my Upkeep Pro?</h4>
            <p>Your Upkeep Pro is available to answer any repair, maintenance, and scheduling questions within 24 hours.
                Send them an email at support@upkeep.partners if there's any way they can help!</p>

                <hr>

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>How do I order your Services?</h4>
            <p>When we confirm your next Preventive Maintenance visit, we’ll ask if you want to purchase any of our
                Services. If you decide at the last minute you want one of them, e.g., knife sharpening, we might be
                able to help you out.</p>

                <hr>

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>Do you offer 24/7 Support?</h4>
            <p>Not yet. However, if you contact us at support@upkeep.partners, we’ll always get back to you within 24
                hours.</p>


                <hr>
        </div>

        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 ">
            <h4>Can I refer a friend or relative?</h4>
            <p>Absolutely! We appreciate any referrals. Please tell them about our website to get started.</p>

            <hr>

        </div>
        
        <div class="col-md-2">

        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
