@import '~@angular/material/theming';
@include mat-core();

$wom-theme-primary: mat-palette($mat-teal,800);
$wom-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$wom-theme-warn: mat-palette($mat-red, 200);

$wom-theme: mat-light-theme($wom-theme-primary, $wom-theme-accent, $wom-theme-warn);

@include angular-material-theme($wom-theme);