.card
{
    border-radius: 5px;
}
.center
{
    text-align: center;
}
.m_t_25
{
    margin-top: 25px;
}
a
{
    text-decoration: underline;
}
.text_primary
{
    color: #515458;
}
a:hover
{
    text-decoration: none;
    color: #515458;
}
ul
{
    list-style: decimal;
}