<div class="content-wrapper">
    <div class="card">
        <div class="card-header">
            Request Checklist
            <span class="float-right">
                <button class="btn btn-secondary btn-sm" routerLink="/requests">Cancel</button>
                <button class="btn btn-primary btn-sm ml-2" routerLink="/requests">Save</button>
            </span>

        </div>
        <div class="card-body">
            <h4>Form Items</h4>

            <!-- add task dynamic form using formarray-->
            <form [formGroup]="requestFormTemplateForm" (ngSubmit)="onSubmit()">

                <div formGroupName="tasks">
                    <div formArrayName="taskItems"
                        *ngFor="let task of requestFormTemplateForm.get('tasks.taskItems')['controls']; let i = index">
                        <div [formGroupName]="i" class="row">
                            <div class="col-2">
                                <h1 class="display-2">{{i+1}}</h1>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        Task:
                                    </label>
                                    <input type="text" class="form-control form-control-sm" formControlName="taskType">
                                </div>

                                <div class="form-group">
                                    <label>
                                        Question:
                                    </label>
                                    <input type="text" class="form-control form-control-sm" formControlName="question">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                formControlName="required">Required
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div>
                                        <a class="text-danger text-right text-small" (click)="removeTask(i)">Remove</a>
                                    </div>
                                    
                                </div>

                                <hr>

                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-link btn-fw" (click)="addTask()"> + Add
                        Task</button>
                </div>




                <div formGroupName="permissions">
                    <h4>Permissions</h4>
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">Allow Requesters to set Asset
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setAsset">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>

                                </li>

                                <li class="list-group-item">Allow Requesters to set Location
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setLocation">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>


                                <li class="list-group-item">Allow Requesters to set Worker Assigned
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setWorkerAssigned">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>


                                <li class="list-group-item">Allow Requesters to set Due Date
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setDueDate">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>


                                <li class="list-group-item">Allow Requesters to set Category
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setCategory">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>


                                <li class="list-group-item">Allow Requesters to set Team
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setTeam">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>